body {

    background-color: rgb(143, 179, 211);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:pointer;
        }

  .image {

    border-radius: 25px;

    border-color: rgb(35, 121, 121);
    border-width: 3px;
    border-style: solid;
    box-shadow: 5px 5px 8px;


  }
